<!DOCTYPE html>
<html>
  <head>
    <title>Watepumemo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header class="clearfix">
        <ul>
          <li class="header_navi"><%= link_to "Home" ,"/" %></li>
          <li class="header_navi"><%= link_to "メモを書く", new_memo_path %></li>
          <li class="header_navi"><%= link_to "メモを見る", memos_path %></li>
        </ul>
      </header>
      <div class="title">
        <h1>わてぷメモ</h1>
        <h2>学んだことを残しておくためのメモ</h2>
      </div>
      <main>
        <%= yield %>
      </main>
      <footer>
        <p>2018 わてぷメモ</p>
      </footer>
    </div>
  </body>
</html>
